Repository adamdehaven/shared-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @kongponents-bot

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/ @Kong/team-core-ui # TODO: add @Kong/team-data

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# Component CLI
/packages/core/cli/ @adamdehaven

# Core packages
/packages/core/core/ @adamdehaven @ValeryG @jillztom
/packages/core/konnect-app-shell/ @adamdehaven @ValeryG @jillztom

# Kong Manager Team
/packages/core/forms/ @Leopoldthecoder @sumimakito

# Portal packages

# Analytics packages

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry

# Workspaces
/packages/core/*/package.json @kongponents-bot @Kong/team-core-ui
/packages/portal/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-data

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom
/package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom

fix(konnect-app-shell): update type interface name
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/types/konnect-app-shell.ts
Owners: @adamdehaven, @ValeryG, @jillztom

fix(konnect-app-shell): update component name
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/components/errors/GlobalErrorMessage.vue
Owners: @adamdehaven, @ValeryG, @jillztom

fix(konnect-app-shell): update component name
  packages/core/konnect-app-shell/src/utilities/generateRoutes.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix(konnect-app-shell): update router config (#553)
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/components/forms/GeoSelectForm.vue
  packages/core/konnect-app-shell/src/utilities/generateRoutes.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(renovate): add stability days with kong package override (#559)
  renovate.json
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(cli): add entities workspace and cli docs (#564)
  packages/core/cli/README.md
  packages/core/cli/src/__template__/README.md
  packages/core/cli/src/questions.ts
  packages/entities/.gitkeep
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @ValeryG, @jillztom

docs(konnect-app-shell): add documentation [KHCP-5675] (#552)
  packages/core/cli/src/__template__/src/components/Template.cy.ts
  packages/core/konnect-app-shell/README.md
  packages/core/konnect-app-shell/docs/feature-flags.md
  packages/core/konnect-app-shell/docs/geo-switcher.md
  packages/core/konnect-app-shell/docs/permissions.md
  packages/core/konnect-app-shell/docs/router.md
  packages/core/konnect-app-shell/src/composables/useAppSidebar.ts
  packages/core/konnect-app-shell/src/composables/usePermissions.ts
  packages/core/konnect-app-shell/src/types/geo.ts
  packages/core/konnect-app-shell/src/types/router.d.ts
  packages/core/konnect-app-shell/src/types/routes.ts
  packages/core/konnect-app-shell/src/types/sidebar.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

docs(konnect-app-shell): fix typo
  packages/core/konnect-app-shell/README.md
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

docs: add usage example
  packages/core/konnect-app-shell/README.md
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

docs: fix typo
  packages/core/konnect-app-shell/docs/permissions.md
Owners: @adamdehaven, @ValeryG, @jillztom

docs: fix typo
  packages/core/konnect-app-shell/docs/permissions.md
Owners: @adamdehaven, @ValeryG, @jillztom

docs: fix typo
  packages/core/konnect-app-shell/docs/permissions.md
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

test(global-search): add component tests [khcp-6064] (#562)
  cypress/tsconfig.json
  packages/core/konnect-global-search/fixtures/mockData.js
  packages/core/konnect-global-search/package.json
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.cy.ts
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.spec.ts
  packages/core/konnect-global-search/src/components/SearchAutocomplete.vue
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @kongponents-bot

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix(konnect-app-shell): dynamic profile name (#571)
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/locales/en.json
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(lefthook): skip on rebase and merge
  lefthook.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore(lefthook): run in parallel
  lefthook.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

fix(konnect-app-shell): fetch all permissions (#573)
  packages/core/konnect-app-shell/src/composables/usePermissions.ts
  packages/core/konnect-app-shell/src/composables/useSession.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui
