Repository adamdehaven/shared-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @kongponents-bot

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @ValeryG, @jillztom, @Leopoldthecoder, @sumimakito

fix(cli): do not specify latest
  docs/creating-a-package.md
  packages/core/cli/src/core/package.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @ValeryG, @jillztom

chore: add kongponents as peer
  packages/core/cli/src/core/dependencies.ts
Owners: @adamdehaven

feat: konnect global search [KHCP-5773] (#391)
  packages/core/cli/src/__template__/sandbox/index.html
  packages/core/cli/src/__template__/src/components/Template.cy.ts
  packages/core/core/README.md
  packages/core/konnect-app-shell/sandbox/index.html
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/components/forms/HelpDropdown.vue
  packages/core/konnect-app-shell/src/types/config.ts
  packages/core/konnect-global-search/README.md
  packages/core/konnect-global-search/package.json
  packages/core/konnect-global-search/sandbox/App.vue
  packages/core/konnect-global-search/sandbox/index.html
  packages/core/konnect-global-search/sandbox/index.ts
  packages/core/konnect-global-search/sandbox/tsconfig.json
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.cy.ts
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.spec.ts
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.vue
  packages/core/konnect-global-search/src/components/SearchAutocomplete.vue
  packages/core/konnect-global-search/src/components/SearchAutocompleteEntityItem.vue
  packages/core/konnect-global-search/src/composables/index.ts
  packages/core/konnect-global-search/src/composables/useI18n.ts
  packages/core/konnect-global-search/src/composables/useSearchApi.ts
  packages/core/konnect-global-search/src/index.ts
  packages/core/konnect-global-search/src/locales/en.json
  packages/core/konnect-global-search/src/styles/_variables.scss
  packages/core/konnect-global-search/src/types/index.ts
  packages/core/konnect-global-search/src/types/search-index-type.enum.ts
  packages/core/konnect-global-search/src/types/searchResults.ts
  packages/core/konnect-global-search/tsconfig.build.json
  packages/core/konnect-global-search/tsconfig.json
  packages/core/konnect-global-search/vite.config.ts
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @kongponents-bot

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @ValeryG, @jillztom, @Leopoldthecoder, @sumimakito

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix(konnect-app-shell): external link kongponent (#532)
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/components/forms/HelpDropdown.vue
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix(konnect-global-search): export types (#533)
  packages/core/konnect-global-search/src/index.ts
Owners: @Kong/team-core-ui

fix(konnect-global-search): export types
  packages/core/konnect-app-shell/src/index.ts
  packages/core/konnect-app-shell/src/types/sidebar.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore: remove container class
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.vue
Owners: @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix: [KHCP-5864] running unit tests only in packages where unit tests are present (#534)
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

fix: [KHCP-5864] build criteria when there are no changed packages
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

fix(konnect-global-search): send credentials (#535)
  packages/core/konnect-global-search/src/composables/useSearchApi.ts
Owners: @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(types): add cypress/vue
  packages/core/cli/src/__template__/tsconfig.json
  packages/core/core/tsconfig.json
  packages/core/forms/tsconfig.json
  packages/core/konnect-app-shell/tsconfig.json
  packages/core/konnect-global-search/tsconfig.json
  tsconfig.json
Owners: @adamdehaven, @ValeryG, @jillztom, @Leopoldthecoder, @sumimakito, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @ValeryG, @jillztom, @Leopoldthecoder, @sumimakito

fix(konnect-app-shell): export userIsAuthorizedForRoute
  packages/core/konnect-app-shell/src/utilities/permissions.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore: [KHCP-5869] npm publish previews (#536)
  .github/actions/publish-previews/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-closed.yml
  netlify.toml
Owners: @adamdehaven, @ValeryG, @jillztom

chore: [KHCP-5869] unpublish logic (#543)
  .github/workflows/pr-closed.yml
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

docs: [KHCP-5869] updating preview consumption instructions (#544)
  README.md
Owners: @adamdehaven, @ValeryG, @jillztom

feat(konnect-app-shell): add error boundary [KHCP-5515] (#550)
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix: [KHCP-5869] remove PR tag when unpublishing
  .github/workflows/pr-closed.yml
  README.md
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(vite): add vite plugin-vue-jsx
  package.json
  pnpm-lock.yaml
  vite.config.shared.ts
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/ @Kong/team-core-ui # TODO: add @Kong/team-data

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# Component CLI
/packages/core/cli/ @adamdehaven

# Core packages
/packages/core/core/ @adamdehaven @ValeryG @jillztom
/packages/core/konnect-app-shell/ @adamdehaven @ValeryG @jillztom

# Kong Manager Team
/packages/core/forms/ @Leopoldthecoder @sumimakito

# Portal packages

# Analytics packages

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry

# Workspaces
/packages/core/*/package.json @kongponents-bot @Kong/team-core-ui
/packages/portal/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-data

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom
/package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom
