Repository adamdehaven/shared-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Leopoldthecoder, @kongponents-bot

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Component CLI
/cli @adamdehaven

# Core UI Team
/packages/core @adamdehaven @ValeryG @jillztom
/packages/sidebar @adamdehaven

# Kong Manager Team
/packages/copy-uuid @Leopoldthecoder

# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
pnpm-lock.yaml @kongponents-bot @adamdehaven @ValeryG @jillztom
package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

fix(sidebar): update icon viewBox
  packages/sidebar/sandbox/App.vue
  packages/sidebar/src/components/SidebarItem.vue
Owners: @adamdehaven

chore(release): publish [skip ci]
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @adamdehaven, @kongponents-bot, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

docs(sidebar): update readme
  packages/sidebar/README.md
Owners: @adamdehaven

docs(sidebar): update readme
  packages/sidebar/README.md
Owners: @adamdehaven

chore(release): publish [skip ci]
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @adamdehaven, @kongponents-bot, @ValeryG, @jillztom

fix(sidebar): prevent animation class impacting popover [KHCP-5239] (#147)
  packages/sidebar/src/components/SidebarFooter.vue
Owners: @adamdehaven

chore(release): publish [skip ci]
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @adamdehaven, @kongponents-bot, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore: preview consumption instructions (#153)
  .github/actions/publish-previews/action.yaml
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

fix(*): fix sandbox preview (#155)
  README.md
  docs/creating-a-package.md
  packages/cli/src/__template__/package.json
  packages/cli/src/__template__/vite.config.ts
  packages/copy-uuid/package.json
  packages/copy-uuid/vite.config.ts
  packages/sidebar/package.json
  packages/sidebar/vite.config.ts
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Leopoldthecoder

chore(release): publish [skip ci]
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Leopoldthecoder

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

Revert "chore(deps): update dependency typescript to ~4.9.3 (#162)" (#163)
  package.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/forms/CHANGELOG.md
  packages/forms/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/forms/CHANGELOG.md
  packages/forms/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

feat: using formatJS for useI18n wrapper in core package [KHCP-5228] (#118)
  packages/copy-uuid/src/components/CopyUuid.vue
  packages/core/README.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/useI18n/README.md
  packages/core/src/useI18n/i18n.spec.ts
  packages/core/src/useI18n/index.ts
  packages/forms/src/forms/PostFunction.vue
  packages/sidebar/package.json
  packages/sidebar/src/components/SidebarFooter.vue
  packages/sidebar/src/components/SidebarNav.vue
  packages/sidebar/src/locales/en.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

feat(forms): html tooltip text support (#174)
  packages/forms/package.json
  packages/forms/src/generator/FormGenerator.vue
  packages/forms/src/generator/FormGroup.vue
  packages/forms/src/generator/fields/abstractField.ts
  packages/forms/src/generator/fields/advanced/FieldAdvanced.vue
  packages/forms/src/generator/fields/advanced/FieldAutoSuggest.vue
  packages/forms/src/generator/fields/advanced/FieldObjectAdvanced.vue
  packages/forms/src/generator/fields/advanced/FieldSelectionGroup.vue
  packages/forms/src/generator/fields/core/fieldCheckbox.vue
  packages/forms/src/generator/fields/core/fieldChecklist.vue
  packages/forms/src/generator/fields/core/fieldInput.vue
  packages/forms/src/generator/fields/core/fieldLabel.vue
  packages/forms/src/generator/fields/core/fieldRadios.vue
  packages/forms/src/generator/fields/core/fieldSelect.vue
  packages/forms/src/generator/fields/core/fieldSubmit.vue
  packages/forms/src/generator/fields/core/fieldTextArea.vue
  packages/forms/src/generator/fields/core/fieldUpload.vue
  packages/forms/src/generator/fields/optional/fieldCleave.vue
  packages/forms/src/generator/fields/optional/fieldDateTimePicker.vue
  packages/forms/src/generator/fields/optional/fieldGoogleAddress.vue
  packages/forms/src/generator/fields/optional/fieldImage.vue
  packages/forms/src/generator/fields/optional/fieldMasked.vue
  packages/forms/src/generator/fields/optional/fieldNoUiSlider.vue
  packages/forms/src/generator/fields/optional/fieldPikaday.vue
  packages/forms/src/generator/fields/optional/fieldRangeSlider.vue
  packages/forms/src/generator/fields/optional/fieldSelectEx.vue
  packages/forms/src/generator/fields/optional/fieldSpectrum.vue
  packages/forms/src/generator/fields/optional/fieldStaticMap.vue
  packages/forms/src/generator/fields/optional/fieldSwitch.vue
  packages/forms/src/generator/fields/optional/fieldVueMultiSelect.vue
  packages/forms/src/index.ts
  packages/forms/vite.config.ts
Owners: @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/forms/CHANGELOG.md
  packages/forms/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

fix(forms): update OIDC plugin config labels (#187)
  packages/forms/src/forms/OIDCForm.vue
  packages/forms/src/forms/schemas/OIDCAuth.js
  packages/forms/src/forms/schemas/OIDCCommon.js
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/forms/CHANGELOG.md
  packages/forms/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

feat: KHCP-5228, KHCP-5302. i18n missing pieces and i18n-t component. (#173)
  packages/core/src/index.ts
  packages/core/src/useI18n/README.md
  packages/core/src/useI18n/Translation.spec.ts
  packages/core/src/useI18n/Translation.ts
  packages/core/src/useI18n/index.ts
  packages/core/src/useI18n/useI18n.spec.ts
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

fix(styles): scope external link styles
  packages/forms/src/generator/fields/advanced/ExternalLink.vue
Owners: @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/forms/CHANGELOG.md
  packages/forms/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

chore(release): publish [skip ci]
  packages/copy-uuid/CHANGELOG.md
  packages/copy-uuid/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/sidebar/CHANGELOG.md
  packages/sidebar/package.json
Owners: @Leopoldthecoder, @kongponents-bot, @adamdehaven, @ValeryG, @jillztom
