Repository adamdehaven/shared-ui-components, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @kongponents-bot

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/ @Kong/team-core-ui # TODO: add @Kong/team-data

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# Component CLI
/packages/core/cli/ @adamdehaven

# Core packages
/packages/core/core/ @adamdehaven @ValeryG @jillztom
/packages/core/konnect-app-shell/ @adamdehaven @ValeryG @jillztom

# Kong Manager Team
/packages/core/forms/ @Leopoldthecoder @sumimakito

# Portal packages

# Analytics packages

# ================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry

# Workspaces
/packages/core/*/package.json @kongponents-bot @Kong/team-core-ui
/packages/portal/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-devx
/packages/analytics/*/package.json @kongponents-bot @Kong/team-core-ui # TODO: add @Kong/team-data

# Root
/pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom
/package.json @kongponents-bot @Kong/team-core-ui @adamdehaven @ValeryG @jillztom

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

fix(styles): breakpoints
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/styles/_variables.scss
  packages/core/konnect-global-search/src/styles/_variables.scss
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui

Revert "fix(styles): breakpoints"
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/styles/_variables.scss
  packages/core/konnect-global-search/src/styles/_variables.scss
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui

fix(styles): breakpoints
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/styles/_variables.scss
  packages/core/konnect-global-search/src/styles/_variables.scss
Owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore: add export
  packages/core/cli/src/__template__/src/types/index.ts
Owners: @adamdehaven

chore(release): publish [skip ci]
  packages/core/cli/CHANGELOG.md
  packages/core/cli/package.json
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @kongponents-bot, @Kong/team-core-ui, @Leopoldthecoder, @sumimakito, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

fix: do not attempt to generate changelog when publishing previews
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

chore: revert lerna changes so PRs are going to fail for now
  .github/workflows/ci.yaml
Owners: @adamdehaven, @ValeryG, @jillztom

fix: lerna version command failing with changelog (#592)
  lerna.json
  package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

feat(konnect-app-shell): implement unification ux (#582)
  packages/core/forms/src/generator/FormGroup.vue
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/components/forms/GeoSwitcher.vue
  packages/core/konnect-app-shell/src/components/forms/HelpDropdown.vue
  packages/core/konnect-global-search/README.md
  packages/core/konnect-global-search/sandbox/App.vue
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.cy.ts
  packages/core/konnect-global-search/src/components/KonnectGlobalSearch.vue
  packages/core/konnect-global-search/src/components/SearchAutocomplete.vue
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore: [KHCP-6076] validate PR not includes any PR preview dependencies (#560)
  .github/workflows/ci.yaml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-packages.yml
Owners: @adamdehaven, @ValeryG, @jillztom

feat(konnect-app-shell): add github star [KHCP-6199] (#596)
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-app-shell/src/components/KonnectAppShell.vue
  packages/core/konnect-app-shell/src/external-links.ts
  packages/core/konnect-app-shell/src/locales/en.json
  pnpm-lock.yaml
Owners: @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot, @Kong/team-core-ui

chore(release): publish [skip ci]
  packages/core/forms/CHANGELOG.md
  packages/core/forms/package.json
  packages/core/konnect-app-shell/CHANGELOG.md
  packages/core/konnect-app-shell/package.json
  packages/core/konnect-global-search/CHANGELOG.md
  packages/core/konnect-global-search/package.json
  pnpm-lock.yaml
Owners: @Leopoldthecoder, @sumimakito, @kongponents-bot, @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom
